/* My UX Skills Section CSS */
.mySkills {
    /* Your section styles go here */
}

.flexContainer {
    display: flex;
    /* Set the flex container direction to row for desktop */
    flex-direction: row;
    /* Other flex container styles go here */
}

.skill {
    width: 33%;
    /* Add margin and padding as needed to create the desired layout */
    margin: 10px;
    padding: 20px;
    /* Additional styles fot the skill elements go here */
}

.myWork {
    width: 33%;
    margin: 10px;
    padding: 20px;
}

.workGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns as per design */
    grid-gap: 20px; /* Add gap between grid items as needed */
    /* Additional styles for the grid container go here */
}

.project {
    /* Define named grid areas for your grid items */
    /* grid-area: project1; */
   /* grid-area: project2; */
   /* Additional styles for the grid items go here */
}

/* Mobile Media Query */
@media screen and (max-width: 600px) {
    .flexContainer {
        flex-direction: column;
    }
.skill {
    width: 100%;
}

.workGrid {
    grid-template-areas:
    'project1'
    'project2';
    grid-template-rows: auto;
    grid-template-columns: 1fr;
}

.project {
    grid-area: project1;
}

.project:last-child {
    grid-area: project2;
}
}